# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
.npm
*.log
logs/
*.pid
*.seed
*.pid.lock

# Database (Explicitly allow our DB)
!server/pharma_v2.db
